body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

#game {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
}

h1 {
    font-size: 24px;
}

#instruction {
    font-size: 16px;
    margin-bottom: 20px;
}

#spanish-word {
    font-size: 20px;
    margin-bottom: 20px;
}

#guess-input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 20px;
}

#submit-guess {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#feedback {
    margin-top: 20px;
    font-size: 16px;
}

.menu-button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}
